.vds-captions [data-part='cue'] {
    background-color: rgba(0, 0, 0, 0.3) !important;
    backdrop-filter: none;
    display: inline-block;
    width: fit-content;
    max-width: 70%;
}

.vds-captions [data-part='cue'] b {
    display: block;
    width: 100%;
    white-space: normal;
    overflow-wrap: break-word;
}

.vds-captions [data-part='cue'] b * {
    display: block;
    width: 100%;
    white-space: normal;
    overflow-wrap: break-word;
}