.scrollHide::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari */
}

.scrollHide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.episode-row:nth-child(odd) {
  background-color: transparent;
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.episode-row:nth-child(odd):hover {
  background-color: rgba(
    255,
    255,
    255,
    0.2
  ); /* Slightly more opaque on hover */
}

.episode-row:nth-child(even) {
  background-color: rgba(
    255,
    255,
    255,
    0.1
  ); /* Adjust transparency as needed */
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.episode-row:nth-child(even):hover {
  background-color: rgba(
    255,
    255,
    255,
    0.2
  ); /* Slightly more opaque on hover */
}

.text-border-white:hover {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}
.disqus-container {
  background-color: transparent; /* Transparent background */
  color: #ffffff; /* Light text color */
  padding-left: 16px; /* Add left padding */
  padding-right: 16px; /* Add right padding */
}

.disqus-container .disqus-comment-count {
  color: #ffffff; /* Light text color for comment count */
}

/* Additional styles to ensure Disqus elements match dark mode */
.disqus-container iframe {
  background-color: transparent; /* Transparent background for iframe */
  color: #ffffff; /* Light text color for iframe content */
}

/* Override Disqus default styles */
.disqus-container .disqus-thread {
  background-color: transparent !important; /* Transparent background for thread */
  color: #ffffff !important; /* Light text color for thread */
}
/* .custom-player video::-webkit-media-text-track-display {
  background: transparent !important;
}

.custom-player video::cue {
  background: transparent;
  color: white; 
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); 
} */
.toggle-container {
  display: flex;
  align-items: center;
  gap: 8px; /* Adjust margin as needed */
}

.toggle-checkbox {
  display: none;
}

.toggle-label {
  position: relative;
  width: 40px;
  height: 20px;
  background-color: #ccc;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.toggle-inner {
  position: absolute;
  inset: 0;
  background-color: #ccc;
  border-radius: 20px;
  transition: background-color 0.2s;
}

.toggle-switch {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  background-color: #fff;
  border-radius: 50%;
  transition: transform 0.2s;
}

.toggle-checkbox:checked + .toggle-label .toggle-inner {
  background-color: #4caf50;
}

.toggle-checkbox:checked + .toggle-label .toggle-switch {
  transform: translateX(20px);
}

/* Ensure light mode for the Disqus container */
@media (prefers-color-scheme: dark) {
  .disqus-container {
    background-color: transparent !important;
    color: #ffffff !important; /* Light text color */
  }

  .disqus-container .disqus-comment-count {
    color: #ffffff !important; /* Light text color for comment count */
  }

  .disqus-container iframe {
    background-color: transparent !important; /* Transparent background for iframe */
    color: #ffffff !important; /* Light text color for iframe content */
  }

  .disqus-container .disqus-thread {
    background-color: transparent !important; /* Transparent background for thread */
    color: #ffffff !important; /* Light text color for thread */
  }
}
