@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@font-face {
  font-family: "Lato-extra-bold";
  src: url("/fonts/Lato-ExtraBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Hp-Simplified-Bold";
  src: url("/fonts/HP-Simplified-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
